<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-gray-50 pt-[3rem] pb-[4rem] md:pt-[6rem]">
  <div
    class="h-56 bg-indigo-600 sm:h-72 lg:absolute lg:left-0 lg:h-[500px] lg:w-[900px]"
  >
    <img
      class="h-full w-full object-cover"
      src="https://images.unsplash.com/photo-1612423284934-2850a4ea6b0f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGFmcmljYW4lMjBmYXNoaW9ufGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
      alt="Support team"
    />
  </div>
  <div class="relative mx-auto max-w-7xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16">
    <div
      class="mx-auto max-w-2xl lg:mr-0 lg:ml-auto lg:w-1/2 lg:max-w-none lg:pl-10"
    >
      <div>
        <div
          class="flex h-12 w-12 items-center justify-center rounded-md bg-indigo-500 text-white"
        >
          <!-- Heroicon name: outline/users -->
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z"
            ></path>
          </svg>
        </div>
      </div>
      <h2
        class="mt-6 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Deliver what your customers want every time
      </h2>
      <p class="mt-6 text-lg text-gray-500">
        As a fashion product manufacturer, sell your products such that your
        customers can eaily return them to you for refunds, renewals, and use
        the returns as a raw material for you next products. We at Skope, we
        help you cover that so that you can focus on your business.
      </p>
      <div class="mt-8 overflow-hidden">
        <dl class="-mx-8 -mt-8 flex flex-wrap">
          <div class="flex flex-col px-8 pt-8">
            <dt class="order-2 text-base font-medium text-gray-500">
              Clothes Processed
            </dt>
            <dd
              class="order-1 text-2xl font-bold text-indigo-600 sm:text-3xl sm:tracking-tight"
            >
              250
            </dd>
          </div>
          <div class="flex flex-col px-8 pt-8">
            <dt class="order-2 text-base font-medium text-gray-500">
              Tanzanian Regions
            </dt>
            <dd
              class="order-1 text-2xl font-bold text-indigo-600 sm:text-3xl sm:tracking-tight"
            >
              2
            </dd>
          </div>
          <div class="flex flex-col px-8 pt-8">
            <dt class="order-2 text-base font-medium text-gray-500">
              Businesses
            </dt>
            <dd
              class="order-1 text-2xl font-bold text-indigo-600 sm:text-3xl sm:tracking-tight"
            >
              8
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
