<section
  class="relative bg-gray-50 pt-[3rem] pb-[4rem] md:pt-[6rem] lg:flex lg:flex-col"
>
  <div
    class="h-56 bg-indigo-600 sm:h-72 lg:absolute lg:left-0 lg:h-[300px] lg:w-[500px] xl:h-[400px] xl:w-[650px] rounded-md"
  >
    <img
      class="h-full w-full object-cover rounded-md"
      src="https://images.unsplash.com/photo-1631628559428-f79ca90b9ef8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHRhaWxvcnxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60"
      alt="Support team"
    />
  </div>
  <div class="mx-auto max-w-7xl px-4 sm:px-6">
    <div
      class="mx-auto max-w-2xl lg:mr-0 lg:ml-auto lg:w-1/2 lg:max-w-none lg:pl-10"
    >
      <h2
        class="mt-6 lg:mt-0 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Manufactureres
      </h2>
      <p class="mt-2 text-lg text-gray-500">
        We are committed to promoting the principles of a circular economy to
        business. Through our specially curated curiculum we educate companies
        on the benefits of circular economy and how they can integrate this
        approach into their operations.
      </p>

      <p class="mt-2 text-lg text-gray-500">
        One of the key ways that we help businesses achieve this goal is by
        assisting them in implementing a zero waste policy. This is accomplished
        by providing specialized QR-generated cloth tags that alloe for the easy
        tracking and recycling of products
      </p>
      <p class="mt-2 text-lg text-gray-500">
        Our Program also encourage customers to return old or worn products to
        the store, where they can be repurposed by the manufacturer to create
        new items. This closed-looped system not only helps to conserve
        resources, but also allows customers to purchase new products at a
        discounted rate.
      </p>
    </div>
  </div>
</section>

<section class="relative bg-gray-50 pt-[3rem] pb-[4rem]">
  <div
    class="h-56 bg-indigo-600 sm:h-72 lg:absolute lg:left-0 lg:h-[300px] lg:w-[500px] xl:h-[400px] xl:w-[650px] rounded-md"
  >
    <img
      class="h-full w-full object-cover rounded-md"
      src="https://images.unsplash.com/photo-1633655442136-bbc120229009?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHRhaWxvcnxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60"
      alt="Support team"
    />
  </div>
  <div class="mx-auto max-w-7xl px-4 sm:px-6">
    <div
      class="mx-auto max-w-2xl lg:mr-0 lg:ml-auto lg:w-1/2 lg:max-w-none lg:pl-10"
    >
      <h2
        class="mt-6 lg:mt-0 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Individuals
      </h2>
      <p class="mt-2 text-lg text-gray-500">
        We Provide a convenient solution for individuals to recycle
        fashion-related waste. Through our plartform, users can extra cash by
        selling their unwanted items to us, rather than disposing them to the
        landfills.
      </p>

      <p class="mt-2 text-lg text-gray-500">
        To enhance the user experience, we have integrated Whatsapp API into our
        website, allowing customers to directly communicate with us and easily
        sell their fashion-related waste. This seamless integration streamlines
        the process and makes it more convenient for customers to participate in
        our mission of reducing waste in the fashion industry.
      </p>
    </div>
  </div>
</section>
